body {
  background-color: #ffdee9;
  background-image: linear-gradient(90deg, #ffdee9 0%, #b5fffc 100%);
}

.main_container {
  display: flex;
  justify-content: space-evenly;
}

.container {
  width: 420px;
}

.row-div {
  width: 100%;
  display: flex;
}

button {
  border: none;
}

.result {
  display: flex;
  padding: 15px;
  width: 100%;
  background-color: #8d8d99;
  color: white;
  justify-content: right;
}

.cell,
.orange-cell,
.zero-cell {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-right: 2px solid #cac6c6;
  border-bottom: 2px solid #cac6c6;
}

.cell {
  width: 25%;
  background-color: #e6e0e0;
}

.orange-cell {
  width: 25%;
  background-color: #faa764;
}

.zero-cell {
  width: 50%;
  background-color: #e6e0e0;
}
